

<form class="form-horizontal">

    <div class="form-group">

        <label for="inputForStreet" class="control-label col-xs-2">Street</label>

        <div class="col-xs-4">

            <input type="text" class="form-control" id="inputForStreet" ng-model="address.street" placeholder="Street1">

        </div>

    </div>
    <div class="form-group">

        <label for="inputForCity" class="control-label col-xs-2">City</label>

        <div class="col-xs-4">

            <input type="text" class="form-control" id="inputForCity" ng-model="address.city" placeholder="City">

        </div>

    </div>
    <div class="form-group">

        <label for="inputForZip" class="control-label col-xs-2">Zip</label>

        <div class="col-xs-4">

            <input type="text" class="form-control" id="inputForZip" ng-model="address.zip" placeholder="Zip" ng-maxlength="5" />

        </div>

    </div>
    <div class="form-group">

        <label for="inputForState" class="control-label col-xs-2">State</label>

        <div class="col-xs-4">
            <select class="form-control" id="inputForState">
                <option>Please Select</option>
                <option value="NY">New York</option>
            </select>

        </div>

    </div>
    <div class="form-group">

        <div class="col-xs-offset-2 col-xs-4">

            <button type="submit" class="btn btn-primary" id="btnRegister">Register</button>

        </div>

    </div>

</form>

